@charset "UTF-8";

		#detailContainer{
			float: left; 
			margin-left: 25px;
			 margin-top: 10px; 
			 width: 600px; 
			 height: 300px; 
			 border: 1px solid black; 
			 border-radius: 5px;
			 
		}
		
		#detailData{
			border-collapse: collapse;
		}
		
		#detailData th{
			text-align: center;
			background: #27334C;
			color: white;
			padding: 5px;
			font-size: 0.9em;
		}
		
		#detailData td{
			padding-left: 15px;
		}
		
		.saveBtn{
			margin-left: 45px; 
			width: 50px;
		}
		
			#dateMonth{
			font-size: 2em; 
			font-weight: bold; 
			color: #ef3333; 
			padding-left: 5px; 
			padding-right: 5px;
		}
		
		#dateDay{
			font-size: 2em; 
			font-weight: bold; 
			color: #ef3333; 
			padding-left: 5px; 
			padding-right: 15px;
		}
		
		#workNotice{
			cursor:pointer; 
			padding-top: 10px; 
			border:1px solid black; 
			text-align:center; 
			width: 200px; 
			height: 30px; 
			float: left;
		}
		
		#workList{
			cursor:pointer; 
			padding-top: 10px; 
			border:1px solid black; 
			text-align:center; 
			width: 200px; 
			height: 30px; 
			float: left;
		}
		
		#noticeContainer{
			margin-top:40px; 
			width: 880px; 
			height: 350px; 
			border: 1px solid black;
			border-radius: 5px;
		}
		
		#serachNoticeCon{
			background:#EFEFEF; 
			margin-left: 200px;
			 margin-top: 10px; 
			 margin-bottom: 10px; 
			 text-align: center; 
			 padding: 5px; 
			 width: 420px; 
			 border: 2px solid #C4C4C4;
		}
		
		#searchNoticeCon button{
			padding: 5px; 
			color: white; 
			background: #27334C;
		}
		
		#noticeList{
			background: #ECECEC; 
			margin-left: 35px; 
			width: 800px; 
			height: 40px; 
			border: 1px solid #606060; 
			border-radius: 5px;
		
		}
		
		#workListContainer{
			display:none; 
			margin-top:40px; 
			width: 880px; 
			height: 100%; 
			border: 1px solid black;
			border-radius: 5px;
		}
		
		#workLists{
			margin-top: 10px; 
			background: #ECECEC; 
			margin-left: 35px; 
			width: 800px; 
			height: 40px; 
			border: 1px solid #606060; 
			border-radius: 5px;
		}
		
		.workListEle{
			border-radius: 5px;
		}
		
		.workListEle td textarea{
			border: none;
			resize: none;
			outline: none;
		}
		
		.workTypeRequest{
			width: 70px;
			height: 20px;
			font-weight: bold;
			border-radius: 25px;
			margin-left: 30px;
			background: #C4C4C4;	
		}
		
		.workTypeResults{
			width: 70px;
			height: 20px;
			font-weight: bold;
			border-radius: 25px;
			margin-left: 30px;
			background: #27334C;	
			color: white;
		}
		
		.workTypeFeedback{
			width: 70px;
			height: 20px;
			font-weight: bold;
			border-radius: 25px;
			margin-left: 30px;
			background: #E61358;	
			color: white;
		}
		
		
		.addPostButton button{
			width: 80px;
			height: 30px;
			margin-right: 50px;
			margin-top: 5px;
			background: #27334C;
			font-weight: bold;
			color: white;
			border-radius: 5px;
			outline: none;
		}
		
		#progressContainer{
			background: white; 
			border: 1px solid #8A8A8A; 
			float: left; 
			margin-top: 10px; 
			width: 250px; 
			height: 300px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 5px; 
			border: 1px solid #6F6F6F;
		}
		
		.containerEle{
			background: white; 
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 5px; 
		}
		
		.num{
			color: #E61358;
		}
		
		.report_wrap {
			display: none;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 10000
		}
		
		.dark_bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background: #000;
			filter: alpha(opacity = 60);
			opacity: .6;
			-moz-opacity: .6
		}
		
		.report_box {
			position: relative;
			top: 20%;
			width: 750px;
			height: 400px;
			background: #fff;
			margin: 0 auto;
			border-radius: 8px;
			background: #fff;
			border: 1px solid #ccc
		}
		
		.report_box .close {
			position: absolute;
			right: 6px;
			top: 6px;
			width: 16px;
			height: 16px;
			cursor: pointer
		}
		
		#addWindowTitle2{
			float:left; 
			font-weight: bold; 
			margin-left: 80px; 
			margin-top: 25px;
			color: #626262;
		}
		
		.closeBtn2{
			float:right; 
			margin-left: 500px; 
			font-size: 1em; 
			font-weight: bold;
			cursor: pointer;
		}
		
		#reportTable{
			width: 100%; 
			height: 100%;
		}
		
		#noticeEle{
			text-align:center; 
			margin-top: 30px; 
			border-collapse: collapse;
		}
		
		#noticeEle tr td{
			border-top: 1px solid #A6A6A6;
			border-bottom: 1px solid #A6A6A6;
			text-align:center; 
			margin-top: 30px; 
			padding: 10px;
		}
		
		
		#noticeEle tr.row:hover {
			background: #27334C;
			color: white;
		}
		
		#searchNoticeBtn{
			background: #27334C; 
			color: white; 
			font-weight: bold;
			padding: 5px; 
			border-radius: 5px;
			cursor: pointer;
			outline: none;
		}
		
		#saveBtn2 button{
			float: right;
			width: 90px; 
			height: 35px; 
			background: #27334C; 
			color: white; 
			font-weight: bold; 
			border-radius: 15px; 
			outline: none;
			margin-right: 10px;
		}