#loading{
  padding: 0px;
  margin: 0px;
  background: #27334C;
  width: 100%;
  height: 900px;
}

/* 메인 */
#main {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 500px;
  height: 600px;
}

/* 채팅 영역 */
#chat {
  height: 400px;
  width: 300px;
  overflow-y: auto;
  border-radius: 20px;
}

/* 접속 알림 */
.connect {
  clear: both;
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 12px;
  font-size: 0.8em;
}

/* 접속 종료 알림 */
.disconnect {
  clear: both;
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 12px;
  font-size: 0.8em;
}

/* 내가 보낸 메시지 */
.me {
  padding:1px;
  width: auto;
  margin-left: 50%;
  float: right;
  background-color: #b2baca;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 0.8em;
}

.me img{
  width: 75%;
  height: 75%;
  border-radius: 5px;
}

/* 상대방이 보낸 메시지 */
.other {
  padding:1px;
  width: auto;
  margin-right: 50%;
  float: left;
  background-color: #f0aec4;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 0.8em;
}

.other img{
  width: 75%;
  height: 75%;
  border-radius: 5px;
}

.otherName{
  clear: both;
  text-align: left; 
  font-size: 0.8em; 
  margin-bottom: -5px;
  font-weight: bold;
}