.chatroom{
    width: 280px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;

    border: 1px solid black;
    border-radius: 5px;

    background: white;

    cursor: pointer;
    text-align: center;
    transition: all ease 0.15s 0s;
   }

   .chatroom:hover{
    border: 2px solid #27334C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

   .selectBtn{
    background:  #27334C;
    border-radius: 5px;
   }

   #headerMenu table{
    text-align: center; 
    width: 310px; 
    height: 25px; 
    background: #E2E8F5; 
    font-size: 0.9em;
   }

   #headerMenu div{
    cursor: pointer;
   }

  #chat::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  #loginUserCon{
    width: 275px;
    height: 40px;
    border: 2px solid rgb(83, 83, 83);
    margin-left: 8px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding-top: 15px;
  }

  .memCon{
    text-align:left; 
    margin-top: 15px; 
    padding-top: 15px; 
    margin-left: 8px; 
    width: 275px; 
    height: 350px; 
    border: 2px solid rgb(199, 199, 199);
    border-radius: 5px;
    background: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
  }

  #createRoomBtn{
    margin-left: 75px;
    padding: 5px;
    border-radius: 5px;
    background: #27334C;
    color: white;
    font-weight: bold;
    outline: none;
  }

  #createRoomBtn:active{
    background: #5670a9;
    color: white;
  }

  .memberEle{
    margin-top: -5px;
  }

  #backBtn{
    display: none; 
    position: absolute; 
    left: 15px; 
    top: 12px;
    width: 50px;
    height: 50px;
    background: #27334C;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  #outBtn{
    display: none; 
    position: absolute; 
    left: 255px; 
    top: 12px;
    width: 50px;
    height: 50px;
    background: #E61358;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  #addFilesBar{
    left: 5px; 
    bottom: 0px; 
    position: absolute; 
    width: 100%; 
    height: 80px; 
    background:#b2baca;
    border-top: 1px solid #6a6a6a;
  }

  .filebox input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip:rect(0,0,0,0);
      border: 0;
  }

  .filebox label {
      display: inline-block;
      padding: .5em .75em;
      color: #999;
      font-size: inherit;
      line-height: normal;
      vertical-align: middle;
      background-color: #fdfdfd;
      cursor: pointer;
      border: 1px solid #ebebeb;
      border-bottom-color: #e2e2e2;
      border-radius: .25em;
  }

  /* named upload */
  .filebox .upload-name {
      display: inline-block;
      padding: .5em .75em;
      font-size: inherit;
      font-family: inherit;
      line-height: normal;
      vertical-align: middle;
      background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
  }

  /* imaged preview */
  .filebox .upload-display {
      margin-bottom: 5px;
  }

  @media(min-width: 768px) {
      .filebox .upload-display {
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 0;
      }
  }

  .filebox .upload-thumb-wrap {
      display: inline-block;
      width: 54px;
      padding: 2px;
      vertical-align: middle;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #fff;
  }

  .filebox .upload-display img {
      display: block;
      max-width: 100%;
      width: 100% \9;
      height: auto;
  }

  .filebox.bs3-primary label {
    color: #fff;
    background-color: #607398;
  }
  .filebox.bs3-primary label:hover{
    background-color: #313b4f;
  }
